<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="speakerslist maincontent">
        <h1 class="speakerslist-title"><%=speaker.title%></h1>
        <div class="speakerslist-name">
          in
          <a href="/speakers/<%=speaker.shortname%>"><%=speaker.name%></a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="./Hillary_Goldwynn.html"> </a>
        </p>
        <%-speaker.description%>
        <p></p>
      </article>
    </div>
    <aside class="col-md-4"><%- include("./partials/artwork") %></aside>
  </div>
</div>
